h1 {background: beige; color: blue; font-size: 250%; text-align: center; text-decoration: underline;}
body {background-color: rgb(165, 217, 233); background-image: url(../Imagen/fondo.jpg); background-repeat: cover; }
p {font-size:120%;}
h2 {font-size: 140%; text-align: justify;}
h3 {font-size: 120%; text-decoration: underline;}